.coin_search
{
    margin-top: 60px;
    display: flex;
    align-items: center;
    width: 300px;
}
.coin_input
{
    background: #222251;
    color: white;
    border: none;
    padding: 16px;
}
.coin_input::placeholder
{
    color: aliceblue;
}